:root {
    --clr-primary-dark-violet: hsl(256, 26%, 20%);
    --clr-primary-grayish-blue: hsl(216, 30%, 68%);

    --clr-neutral-very-dark-violet: hsl(270, 9%, 17%);
    --clr-neutral-dark-grayish-violet: hsl(273, 4%, 51%);
    --clr-neutral-very-light-gray: hsl(0, 0%, 98%);

    --fs: 16px;

    --ff-headings: 'DM Serif Display', serif;
    --ff-body: 'Karla', sans-serif;

    --fw-400: 400;
    --fw-700: 700;
}
body,html {
    width: 100%;
    margin: 0;
}
body {
    min-width: 375px;

    font-size: var(--fs);
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
}
header {

    width: 100%;
    height: 25%;

    background-color: var(--clr-primary-dark-violet);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 45px;

    background-color: var(--clr-neutral-very-light-gray);
}
nav img {
    height: 50%;
    margin-left: 10%;
}

#nav-links {
    display: flex;
    justify-content: end;
    align-items: center;

    gap: 5%;
    
    width: 50%;
    height: 75%;

    margin-right: 10%;
}
#nav-links a {
    color: var(--clr-neutral-dark-grayish-violet);
    text-decoration: none;
}
#nav-links a:hover {
    color: var(--clr-neutral-very-dark-violet);
}
#nav-links p {
    margin: 0;
}
.btn {
    background-color: rgba(255, 255, 255, 0);

    height: 30px;

    border-width: 0;
}
#view-btn-1 {
    outline: 2px solid var(--clr-primary-dark-violet);
    color: var(--clr-primary-dark-violet);
}

#view-btn-1:hover {
    cursor: pointer;
    color: var(--clr-neutral-very-light-gray);
    background-color: var(--clr-primary-dark-violet);
}
#bg-pattern-right-desktop {
    position: absolute;

    top: 0;
    right: 0%;

    z-index: 2;

    transform: translate(10%, -10%) scale(0.8);
}
.hide {
    display: none !important;
}
#header-text-container {
    width: 35%;
    margin: 10% 0 0 10%;
    padding-bottom: 10%;
    color: var(--clr-neutral-very-light-gray);

}
.horizontal-bar {
    width: 30%;
    height: 2px;
}
#horizontal-bar-1 {
    background-color: var(--clr-neutral-very-light-gray);
}
h1, h2, h3 {
    font-family: var(--ff-headings);
    font-weight: var(--fw-400);
}
h1 {
    font-size: 3rem;
    margin-bottom: 0;
}
#view-btn-2, #how-we-work-btn  {
    outline: 2px solid var(--clr-neutral-very-light-gray);
    color: var(--clr-neutral-very-light-gray);

}
#view-btn-2:hover, #how-we-work-btn:hover {
    cursor: pointer;
    background-color: var(--clr-neutral-very-light-gray);
    color: var(--clr-primary-dark-violet);
}
.photos-container {
    position: relative;
    width: 100%;
}
#family-photo-mobile {
    width: 100%;
}

#bg-pattern-left-desktop {
    position: absolute;

    top: 0;
    left: 0;

    transform: translate(-10%, -50%);
}
#family-photo-desktop {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(0, -50%);

    width: 40%;
}
main {
    height: 55%;
    padding: 25% 10% 10% 10%;
}
#horizontal-bar-2 {
    width: 13.125%;
    background-color: var(--clr-primary-dark-violet);
}
h2 {
    font-size: 2.9rem;
    margin-bottom: 5%;
}
#columns {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10%;

    gap: 5%;
}
h3 {
    font-size: 1.5rem;  
    margin-bottom: 0;
}
#how-we-work-section {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;

    color: var(--clr-neutral-very-light-gray);
    background-color: var(--clr-primary-dark-violet);
}
#how-we-work-h2 {
    width: 50%;
}
footer {
    padding: 5% 10%;
    background-color: var(--clr-neutral-very-light-gray);
    background-image: url(images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top;
}
#logos {
    display: flex;
    justify-content: space-between;
}
#logos div {
    display: flex;
    justify-content: end;
    width: 30%;
    gap: 5%
}
#logos svg:hover path {
    fill: black;
}
#FAQ {
    display: flex;
    margin-top: 3%;
}
#FAQ div {
    margin-right: 12%;
}
.footer-heading {
    margin-bottom: 3%;
    color: var(--clr-neutral-dark-grayish-violet);
}
#FAQ a {
    color: var(--clr-neutral-very-dark-violet);
    text-decoration: none;
    
}
#FAQ a:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-neutral-very-dark-violet);
}